/**
 * Dashboard Widgets CSS
 */
.dashboard li {
/*    background: #ffffff;
    border: 1px solid #ccc;
    width: 320px;
    min-height: 280px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative; 
    z-index: 0;
    cursor: move;*/
}

.dashboard li.quarter {
    width: 23%;
    margin-right: 2%;
}

.dashboard li.half {
    width: 48%;
    margin-right: 2%;
}

.dashboard li.full {
    width: 100%;
}

.dashboard li.ui-sortable-helper {
    opacity: 0.3;
    /* for IE */
    /* filter: alpha(opacity=30); */
}

.dashboard li h1 {
    color: #333;
    background: url(../images/panel_bg.gif) repeat-x;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    height: 20px;
}

.dashboard li .content {
    width: 100%;
    margin: 0 20px 10px 20px;
    overflow: hidden;
    cursor: auto;
}

.dashboard li.pie .content {
    top: -50px;
    left: -25px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    cursor: auto;
}

.dashboard li .left {
    border-right: 1px dotted #cccccc;
    width: 48%;
    float: left;
    min-height: 200px;
}

.dashboard li .right {
    width: 48%;
    float: right;
}

.dashboard li table,
.dashboard li .left table,
.dashboard li .right table {
    width: 95%;
}

.dashboard li.pie svg {
    height: 250px;
    z-index: 0;
    cursor: auto;
}

.dashboard dl dt {
    font-weight: bold;
    width: 45%;
    float: left;
}

.dashboard dl dd {
    width: 55%;
    float: left
}

.dashboard .whole-line {
    width: 100%;
}

.dashboard .disabled {
    color: #c0c0c0;
}

.dashboard .small-pie {
    height: 250px;
    width: 250px;
    top: 125px;
    left: 20%;
    position: absolute;
}

.dashboard .red {
    color: #ff0000;
}

.dashboard-delete-widget {
    background: url(../images/dash-close-button.png) no-repeat 0 0;
    margin: 20px 18px 0 0;
    width: 11px;
    height: 9px;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

/**
 * Dashboard Setup
*/ 
.dashboard-setup-title {
    font-size: 11px;
    padding: 2px 25px 2px 0;
    margin: -20px 0 10px 0;
    height: 18px;
    cursor: pointer;
    z-index: 999;
    float: right;
}

.dashboard-setup-title.closed {
    background: url('../images/icon-setting.png') no-repeat right 3px;
    opacity: 0.7;
}

.dashboard-setup-title.closed:hover,
.dashboard-setup-title.opened {
    background: url('../images/icon-setting.png') no-repeat right 3px;
    opacity: 1;  
}

#dashboard-setup {
    color: #fff;
    background: transparent url('../images/bg-dash-setup.png');
    padding: 10px 5px 10px 15px;
    margin: 3px 0 0 0;
    width: 160px;
    display: none;  
    position: absolute;  
    z-index: 99999;
    right: 38px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dashboard-setup .form-item {
    margin: 3px 0;
    width: 160px;  
    float: left;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);	
}

#dashboard-setup .form-item:hover {
    opacity: 1;
    filter: alpha(opacity=100); 
}

#dashboard-setup .form-item label {
    width: 160px;  
    cursor: pointer;	
}

#dashboard-setup .form-item input {
    margin: 2px 3px 0 0;
    float: left;
    cursor: pointer;	
}

#dashboard-setup .form-item img {
    border: 1px solid #cccccc;
}

#dashboard-setup .form-item .widget-description {
    color: #666;
    font-size: 10px;
    width: 185px;
}

#calendar {
    width: 900px;
    margin: 0 auto;
}

#case-button{
    text-align: center;
    width: 100%;
    padding-left: 68px;
}

/**
 * Dashboard sortable
*/
#dashboard-widgets {
    width: 100%;
    padding-top: 13px;
}

.dashboard-delete-widget {
    background: url(../images/dash-close-button.png) no-repeat scroll right center transparent;
    right: 10px;
    width: 100%;
    height: 6px;
    position: static;
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
}

#sortable1, #sortable2, #sortable3 { 
    list-style-type: none; 
    margin: 5px; 
    padding: 0; 
    float: left; 
    margin-right: 0; 
    /*background: #f1f1f1; */
    padding: 10px; 
    width: 30%; 
    min-height: 700px; 
    /*border: solid 1px #c9c9c9;*/
}

#sortable1 li, #sortable2 li, #sortable3 li { 
    margin: 5px; 
    padding: 5px; 
    width: 95%; 
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}

.ui-state-default{
    font-size: 10px;
    color: gray;
}
.ui-state-default h1{
    padding: 0 0 0 3px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #c9c9c9;
    background: #ededed;
    margin: 0 0 10px 0;
}
.ui-state-default:hover {
    background: #ffffff;
}

.ui-state-default li .left {
    border-right: 1px dotted #cccccc;
    width: 48%;
    float: left;
    min-height: 200px;
}

.ui-state-default li .right {
    width: 48%;
    float: right;
}

.ui-state-default li table,
.ui-state-default li .left table,
.ui-state-default li .right table {
    width: 95%;
}

.ui-state-default table{
    clear: both;
    float: none;
    margin: 0;
    width: 100%;
}
.ui-state-default table tr{
    clear: both;
}
.ui-state-default table tr td{
    padding: 3px 0 3px 3px;
}

.ui-state-default .small-pie {
    height: 74px;
    width: 100%;
}

.ui-state-default .max-trunks {
    height: 180px;
    width: 100%;
}
.log-image{
    background: url('../images/user_icon.png') no-repeat;
    background-position: center center;
    width: 22px;
    height: 23px;
    float: left;
    margin-right: 5px;
}
.log-message{
    padding: 3px;
}

.total-calls{
    height: 180px;
}

.extra-function{
    clear: both;
    font-size: 10px;
    width: 100%;
    text-align: right;
    padding-right: 3px;
}

.extra-function a{
    color: gray;
}

.extra-function a:hover {
    color: black;
    cursor: pointer;
}

/*
 * Overriding dashboard widgets config
*/

.dashboard{ width: 49%; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; width: 95%; }
.portlet-header { margin: 0; padding-bottom: 4px; padding-left: 0.2em; font-size: 12px; cursor: pointer; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dashed black; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.naturalwidget-header{
  /*background: #60747c;*/
  height: 32px;
  color: #222222;
  font-weight: bold;
  cursor: move;
}

.naturalwidget-content{
  border-top: 1px solid #DDDDDD;
  position: relative;
  float: left;
  padding: 15px;
  width: 100%;
  height: 260px;
}

.naturalwidget-loading{
  background: url('../images/loading.gif') no-repeat center;
  padding: 15px;
  width: 100%;
  height: 200px;
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}

.widget-title {
  position: relative;
  float: left;
  top: 5px;
  width: 82%;
}

.naturalwidget-icon {
  float: left;
  left: 3px;
  margin: 8px 9px 0 7px;
}

.naturalwidget-placeholder {
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 28px;
  /* adjusted from 28px */
  padding: 0;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.naturalwidget-ctrls {
  width: auto;
  float: right;
  padding: 0;
  margin: 0;
}
.naturalwidget-ctrls .button-icon {
  min-width: 30px;
  height: 32px;
  float: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.naturalwidget-ctrls .button-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.naturalwidget-ctrls i{
  margin: 9px 5px 0 9px;
}
.portlet-header h2{
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: normal;
  letter-spacing: 0px;
}

.dashboard-config{
  float: right;
  position: relative;
}
/*
	 * Toggle Demo
	 */
	
	.toggle-demo {
		position: absolute;
		top: 10px;
		right: -8px;
		display: block;
		width: 150px;
		height: auto;
		z-index: 99;
		opacity: .9;
		
	}.toggle-demo:hover {
		opacity:1;
	}
	
	.toggle-demo .btn-group {
		width:100px;
		float:left;
	}
	
	.toggle-demo > span {
		display:inline-block;
		float:left;
		margin-right:5px;
		line-height: 21px;
		color: #757575;
	}
	

	/*
	 * noUISlider vertical demo
	 */
	.demo-vertical-uislider {
		
		box-sizing: border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.demo-vertical-uislider > div {
		height:200px;
		margin: 0 0px 0 10px;
		display:inline-block;
	}
	
	.demo-vertical-uislider >:first-child {
		margin-left:15px;
	}

	
	/*
	 * Knobs demo
	 */
	
	.knobs-demo > div {
		display:inline-block;
		margin-left:30px;
	}
	.knobs-demo >:first-child {
		margin-left:0;
	} 

	/*
	 * DEMO INPUT
	 */
	
	.demo label input[type=radio].radiobox+span:before, .demo label input[type=checkbox].checkbox+span:before {
		border: 1px solid #5E5E5E;
	}

	.demo label:hover input[type=checkbox].checkbox+span:before {
		border-color:#E77317;
	}

	/*
	 * DEMO
	 * Demo CSS only
	 */	
	.demo label {
		margin-bottom:4 !important;
	}
	
	.demo .checkbox i {
		border-color: #7A7A7A;
	}
	
	.demo .radio, .demo .checkbox {
	 	padding-left:22px;
	}
	
	.demo.activate {
		right:-15px !important;
		box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.2);
		padding:5px 10px 10px; 
	}

	.demo #demo-setting + form {
		display:none;
	}
	
	.demo.activate #demo-setting + form {
		display:block;
	}
	
	.demo {
		position:absolute; 
		top:5px; 
		right:-15px; 
		width:160px;
		z-index:1001; 
		background:#F1DA91;
	}
	
	.demo > span {
		position: absolute;
		right: 0px;
		top: 0px;
		display: block;
		height: 30px;
		width: 30px;
		border-radius: 5px 0 0 5px;
		background: #F1DA91;
		padding: 2px;
		text-align: center;
		line-height: 28px;
		cursor:pointer;
	}
	
	.demo > span i {
		font-size:17px;
	}
	
	.demo.activate > span i:before {
		content: "\f00d";
	}
	
	.demo.activate > span {
		left: -30px;
	}
	
	.demo > span:hover i {
		color:#333 !important;
	}
	
	.demo form section {
		margin:0 !important;
	}
	
	.demo .btn {
		font-size: 13px !important;
		line-height: 1.5 !important;
		border-radius: 3px !important;
		padding: 3px 7px !important;
		height:auto !important;
	}
	
	.demo-liveupdate-1 {
		font-size: 12px !important;
		position: absolute !important;
		left: 33px;
		top: 15px;
		display: block;
		z-index: 2;
		font-weight: bold;
		padding: 1px 61px 3px 7px;
	}

	.demo-btns {
		margin:0;
		padding:0;
		list-style:none;
	}
	.demo-btns > li {
		display:inline-block;
		margin-bottom:7px;
	}

	
	.demo-icon-font {
		font-size: 14px;
		margin-bottom: 6px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.demo-icon-font:hover {
		background-color: rgba(86, 61, 124, 0.1);
		text-decoration: none;
	}
	
	.demo-modal {
		width: auto;
		max-width:600px;
		z-index: 1;
	}
	
	.demo-red {
		color:#DF413E
	}
	
	.demo-orange {
		color:#DAA03E;
	}
	
	.demo-border {
		border:1px solid rgba(0,0,0,.2)
	}
  
  .form header,
legend {
  display: block;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  background: #ffffff;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  margin: 25px 0px 20px;
}
.no-padding .form header {
  margin: 25px 14px 0;
}
.form header:first-child {
  margin-top: 10px;
}
legend {
  font-weight: 400;
  margin-top: 0px;
  background: none;
}

input[type="text"].ui-autocomplete-loading,
input[type="password"].ui-autocomplete-loading,
input[type="datetime"].ui-autocomplete-loading,
input[type="datetime-local"].ui-autocomplete-loading,
input[type="date"].ui-autocomplete-loading,
input[type="month"].ui-autocomplete-loading,
input[type="time"].ui-autocomplete-loading,
input[type="week"].ui-autocomplete-loading,
input[type="number"].ui-autocomplete-loading,
input[type="email"].ui-autocomplete-loading,
input[type="url"].ui-autocomplete-loading,
input[type="search"].ui-autocomplete-loading,
input[type="tel"].ui-autocomplete-loading,
input[type="color"].ui-autocomplete-loading {
  background-image: url("../img/select2-spinner.gif") !important;
  background-repeat: no-repeat;
  background-position: 99% 50%;
  padding-right: 27px;
}
.input-group-addon .checkbox,
.input-group-addon .radio {
  min-height: 0px;
  margin-right: 0px !important;
  padding-top: 0;
}
.input-group-addon label input[type="checkbox"].checkbox + span,
.input-group-addon label input[type="radio"].radiobox + span,
.input-group-addon label input[type="radio"].radiobox + span:before,
.input-group-addon label input[type="checkbox"].checkbox + span:before {
  margin-right: 0px;
}
.input-group-addon .onoffswitch,
.input-group-addon .onoffswitch-label {
  margin: 0;
}

input.checkbox[type="checkbox"], input.radiobox[type="radio"] {
    height: 18px;
    position: absolute;
    visibility: hidden;
    width: 18px;
    z-index: 20;
}

.demo label input.radiobox[type="radio"] + span:before, .demo label input.checkbox[type="checkbox"] + span:before {
    border: 1px solid #5E5E5E;
}
label input.checkbox[type="checkbox"]:checked + span:before {
    color: #2E7BCC;
}
label input.checkbox[type="checkbox"]:checked + span:before {
    content: "\f00c";
}
label input.checkbox[type="checkbox"] + span:before {
    content: " ";
}
label input.radiobox[type="radio"] + span:before, label input.checkbox[type="checkbox"] + span:before {
    background-color: #F4F4F4;
    border: 1px solid #BFBFBF;
    border-radius: 0;
    content: " ";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 12px;
    font-weight: 400;
    height: 12px;
    line-height: 12px;
    margin-right: 5px;
    margin-top: -1px;
    min-width: 12px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}
input.checkbox[type="checkbox"] + span, input.checkbox[type="checkbox"] + span:after, input.checkbox[type="checkbox"] + span:before, input.radiobox[type="radio"] + span, input.radiobox[type="radio"] + span:after, input.radiobox[type="radio"] + span:before {
    box-sizing: content-box !important;
}
*:before, *:after {
    box-sizing: border-box;
}
input.checkbox[type="checkbox"] + span, input.checkbox[type="checkbox"] + span:after, input.checkbox[type="checkbox"] + span:before, input.radiobox[type="radio"] + span, input.radiobox[type="radio"] + span:after, input.radiobox[type="radio"] + span:before {
    box-sizing: content-box !important;
}
*:before, *:after {
    box-sizing: border-box;
}
label input.checkbox[type="checkbox"]:checked + span {
    font-weight: 700;
}
label input.checkbox[type="checkbox"] + span, label input.radiobox[type="radio"] + span {
    display: inline-block;
    line-height: 17px;
    margin: 0 5px 0 0;
    min-height: 14px;
    min-width: 14px;
    position: relative;
    z-index: 19;
}

.naturalwidget-content .tech_score_average {
 height: 200px; 
}